{% extends "real_estate/layout/real_estate_list.html" %}

{% block transport_list %}
    {% for house in object_list %}
        <div class="card mb-3 announcement">
            <div class="row g-0 announcement__inner">
                <div class="col-md-4 announcement__img_handler">
                    <a href="{{ house.get_absolute_url }}">
                        <img src="{{ house.images.first.image.url }}" class="announcement__img" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body announcement_body">
                        <h5 class="card-title"><a href="{{ house.get_absolute_url }}" class="announcement_link">{{ house }}</a></h5>
                        <p class="card-text fw-bolder announcement__price">{{ house.price }}₽</p>
                        <p class="announcement__description">{{ house.house_area }} кв.м, {{ house.material }}</p>
                        <div class="card-text"><small class="text-muted">{{ house.user }}</small></div>
                        <div class="card-text"><small class="text-muted">{{ house.create_date|date:'Y-m-d H:i' }}</small></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}