{% extends "main/layouts/announcement.html" %}

{% block announcement %}
    <ul class="list-group mb-2">
        {% if object.levels %}
            <li class="list-group-item">Этажей в доме: {{ object.levels }}</li>
        {% endif %}
        {% if object.material %}
            <li class="list-group-item">Материал стен: {{ object.material }}</li>
        {% endif %}
        {% if object.house_area %}
            <li class="list-group-item">Площадь дома: {{ object.house_area }}</li>
        {% endif %}
        {% if object.land_area %}
            <li class="list-group-item">Площадь участка: {{ object.land_area }}</li>
        {% endif %}
    </ul>
{% endblock %}