{% extends "transport/layout/transport_announcement.html" %}

{% block transport_announcement %}
    <ul class="list-group mb-2">
        {% if object.model %}
            <li class="list-group-item">Модель: {{ object.model }}</li>
        {% endif %}
    </ul>
{% endblock %}