{% extends "transport/layout/transport_list.html" %}

{% block transport_list %}
    {% for car in object_list %}
        <div class="card mb-3 announcement">
            <div class="row g-0 announcement__inner">
                <div class="col-md-4 announcement__img_handler">
                    <a href="{{ car.get_absolute_url }}">
                        <img src="{{ car.images.first.image.url }}" class="announcement__img" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body announcement_body">
                        <h5 class="card-title"><a href="{{ car.get_absolute_url }}" class="announcement_link">{{ car }}</a></h5>
                        <p class="card-text fw-bolder announcement__price">{{ car.price }}₽</p>
                        <p class="announcement__description">{{ car.modification }}, {{ car.transmission }}</p>
                        <div class="card-text"><small class="text-muted">{{ car.user }}</small></div>
                        <div class="card-text"><small class="text-muted">{{ car.create_date|date:'Y-m-d H:i' }}</small></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}