{% extends "transport/layout/transport_announcement.html" %}

{% block transport_announcement %}
    <ul class="list-group mb-2">
        {% if object.engine_hours %}
            <li class="list-group-item">Моточасы: {{ object.engine_hours }}</li>
        {% endif %}
    </ul>
{% endblock %}