{% extends "transport/layout/transport_list.html" %}

{% block transport_list %}
    {% for special in object_list %}
        <div class="card mb-3 announcement">
            <div class="row g-0 announcement__inner">
                <div class="col-md-4 announcement__img_handler">
                    <a href="{{ special.get_absolute_url }}">
                        <img src="{{ special.images.first.image.url }}" class="announcement__img" alt="">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body announcement_body">
                        <h5 class="card-title"><a href="{{ special.get_absolute_url }}" class="announcement_link">{{ special }}</a></h5>
                        <p class="card-text fw-bolder announcement__price">{{ special.price }}₽</p>
                        <p class="announcement__description">{{ special.modification }}, {{ special.transmission }}</p>
                        {% if special.body_type %}
                            <p class="announcement__description">Тип кузова: {{ special.body_type }}</p>
                        {% endif %}
                        <div class="card-text"><small class="text-muted">{{ special.user }}</small></div>
                        <div class="card-text"><small class="text-muted">{{ special.create_date|date:'Y-m-d H:i' }}</small></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}