{% extends "transport/layout/transport_announcement.html" %}

{% block transport_announcement %}
    <ul class="list-group mb-2">
        {% if object.model %}
            <li class="list-group-item">Модель: {{ object.model }}</li>
        {% endif %}
        {% if object.body_type %}
            <li class="list-group-item">Тип кузова: {{ object.body_type }}</li>
        {% endif %}
        {% if object.engine_hours %}
            <li class="list-group-item">Моточасы: {{ object.engine_hours }}</li>
        {% endif %}
    </ul>
{% endblock %}