{% extends 'main/layouts/announcement_list.html' %}

{% block title %}
    Недвижимость в городе
    {% if city %}
        {{ city }}
    {% else %}Казань{% endif %}
{% endblock %}

{% block announcement_list %}
    <div class="col-3 content__nav">
            <nav class="nav flex-column">
                <a class="nav-link" href="{% url 'house' %}">Квартиры</a>
                <a class="nav-link" href="{% url 'apartment' %}">Часные дома</a>
                <a class="nav-link" href="{% url 'landplot' %}">Земельные участки</a>
            </nav>
        </div>
        <div class="col-8 content__announcements">

            {% block transport_list %}{% endblock %}

        </div>
{% endblock %}