{% extends 'main/layouts/announcement_list.html' %}

{% block title %}
    Транспорт в городе
    {% if city %}
        {{ city }}
    {% else %}Казань{% endif %}
{% endblock %}

{% block announcement_list %}
    <div class="col-3 content__nav">
            <nav class="nav flex-column">
                <a class="nav-link" href="{% url 'auto' %}">Автомобили</a>
                <a class="nav-link" href="{% url 'moto' %}">Мотоциклы</a>
                <a class="nav-link" href="{% url 'special' %}">Спецтехника</a>
            </nav>
        </div>
        <div class="col-8 content__announcements">

            {% block transport_list %}{% endblock %}

        </div>
{% endblock %}