{% extends "main/layouts/announcement.html" %}

{% block announcement %}
    {% block transport_announcement %}{% endblock %}

    <ul class="list-group">
        {% if object.color %}
            <li class="list-group-item">Цвет: {{ object.color }}</li>
        {% endif %}
        {% if object.equipment %}
            <li class="list-group-item">Комплектация: {{ object.equipment }}</li>
        {% endif %}
        {% if object.mileage %}
            <li class="list-group-item">Состояние: {{ object.get_mileage_display }}</li>
        {% endif %}
        {% if object.owners %}
            <li class="list-group-item">Владельцев по ПТС: {{ object.owners }}</li>
        {% endif %}
        {% if object.mark %}
            <li class="list-group-item">Марка: {{ object.mark }}</li>
        {% endif %}
        {% if object.year_of_issue %}
            <li class="list-group-item">Год выпуска: {{ object.year_of_issue }}</li>
        {% endif %}
        {% if object.modification %}
            <li class="list-group-item">Объем и мощность двигателя: {{ object.modification }}</li>
        {% endif %}
        {% if object.transmission %}
            <li class="list-group-item">Коробка передач: {{ object.transmission }}</li>
        {% endif %}
    </ul>

{% endblock %}