{% extends "main/layouts/main.html" %}

{% block content %}
    <div class="row justify-content-center m-3">
        <div class="col search_input">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Поиск по объявлениям"
                           aria-label="Search" {% if search %}value="{{ search }}"{% endif %}>
                    <input type="text" class="city_input form-control" placeholder="Искать в городе" name="city"
                           aria-label="City" value="{% if city %}{{ city }}{% else %}Казань{% endif %}">
                    <input type="submit" class="btn btn-primary" value="Найти">
                </div>
            </form>
        </div>
    </div>
    <div class="main_inner__page_name">
        <h1>Объявления в городе {% if city %}{{ city }}{% else %}Казань{% endif %}</h1>
    </div>
    <div class="row main_inner__content justify-content-center">

        {% block announcement_list %}{% endblock %}

        <nav class="content__pagination">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?search={{ request.GET.search }}&city={{ request.GET.city }}&page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                {% for number in page_obj.paginator.page_range %}
                    {% if page_obj.number == number %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="?search={{ request.GET.search }}&city={{ request.GET.city }}&page={{ number }}">{{ number }}</a>
                        </li>
                    {% elif number >= page_obj.number|add:-2 and number <= page_obj.number|add:2 %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?search={{ request.GET.search }}&city={{ request.GET.city }}&page={{ number }}">{{ number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?search={{ request.GET.search }}&city={{ request.GET.city }}&page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}