{% extends "main/layouts/main.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/announcement.css' %}">
{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-7">
            <h2 class="mb-3">{{ object }}</h2>
            <div id="carousel" class="carousel slide mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ object.images.first.get_absolute_url }}" class="carousel-image d-block w-100"
                             alt="...">
                    </div>
                    {% for img in object.images.all %}
                        {% if img != object.images.first %}
                            <div class="carousel-item">
                                <img src="{{ img.get_absolute_url }}" class="carousel-image d-block w-100" alt="...">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            {% block announcement %}{% endblock %}

            <ul class="list-group mt-2">
                <li class="list-group-item">Город: {{ object.city }}</li>
                {% if object.youtube %}
                    <li class="list-group-item">Ссылка на youtube:
                        <a href="{{ object.youtube }}">{{ object.youtube }}</a>
                    </li>
                {% endif %}
                <li class="list-group-item">{{ object.description }}</li>
            </ul>
        </div>
        <div class="col-3">
            <h3>{{ object.price }} ₽</h3>
            <div class="row mt-5">
                <div class="col-8">
                    <h5>{{ object.user }}</h5>
                    <p class="profile_info">Email: {{ object.user.email }}</p>
                    {% if object.user.phone %}
                        <p class="profile_info">Телефон: {{ object.user.phone }}</p>
                    {% endif %}
                </div>
                <div class="col-4">
                    <img
                            {% if object.user.avatar %}
                                src="{{ object.user.avatar.url }}"
                            {% else %}
                                src="{% static 'img/default_avatar.jpg' %}"
                            {% endif %}
                                class="d-block w-100 rounded-circle" alt="{{ object }} avatar">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
