{% extends "main/layouts/base.html" %}

{% load bootstrap5 %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block body %}
    <main class="form-signin text-center">
        <form method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'img/logo.svg' %}" alt="" height="57">

            {% block auth %}
            {% endblock %}

            <p class="mt-1 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
{% endblock %}