<!DOCTYPE html>

{% load bootstrap5 %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Avito{% endblock %}</title>
    {% bootstrap_css %}
    {% block stylesheet %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>