{% extends "main/layouts/base.html" %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block body %}
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-xxl">
                <a class="navbar-brand">
                    <img src="{% static 'img/logo.svg' %}" alt="Avito" height="40">
                </a>
                <div class="flex-grow-1 justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auto' %}">Авто</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'house' %}">Недвижемость</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex">
                    <a class="nav-link text-muted w-auto" href="#">Мои Объявления</a>
                    {% if request.user != 'anonymous' %}
                        <a href="{% url 'profile' %}" class="nav-link nav_user text-dark">
                            <span>{{ request.user.name }}</span>
                            {% if request.user.avatar %}
                                <img class="nav_user__img" src="{{ request.user.avatar.url }}" alt="">
                            {% else %}
                                <img class="nav_user__img" src="{% static 'img/default_avatar.jpg' %}" alt="">
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-link nav_user"><span>Войти</span></a>
                    {% endif %}
                    <a class="btn btn-primary h-50" href="{% url 'create_auto' %}">Разместить объявление</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="container">
            <div class="main_inner">
                {% block content %}
                    <div class="text-center mt-5">
                        <h2>Hello on Avito</h2>
                        <div class="row">
                            <a href="{% url 'auto' %}">Авто</a>
                            <a href="{% url 'house' %}">Недвижемость</a>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="footer">
        <span class="footer_text">&copy;Avito</span>
    </footer>
{% endblock %}