{% extends 'main/layouts/main.html' %}

{% load bootstrap5 %}
{% load custom_tags %}

{% block title %}Create{% endblock %}

{% block content %}
    <div class="w-50 mx-auto ">
        <h2 class="mb-3">Подать объявление</h2>
        <div class="row justify-content-center align-items-center mb-2">
            <div class="col-auto">Выберите категорию</div>
            <div class="col-auto">
                <label>
                    <select class="form-select"
                            onchange="window.location.href=this.options[this.selectedIndex].value">
                        <option disabled selected>{{ form|name_of_form_model }}</option>
                        <option value="{% url 'create_auto' %}">Авто</option>
                        <option value="{% url 'create_moto' %}">Мотоциклы</option>
                        <option value="{% url 'create_special' %}">Спец Техника</option>
                        <option value="{% url 'create_house' %}">Дома</option>
                        <option value="{% url 'create_apartment' %}">Квартиры</option>
                        <option value="{% url 'create_landplot' %}">Гаражи</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row text-center">
            <h3>Раздел: {{ form|name_of_form_model }}</h3>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-center">
                <button class="btn btn-primary">Разместить</button>
            </div>
        </form>
    </div>
{% endblock %}
