{% extends "main/layouts/auth_base.html" %}

{% load bootstrap5 %}

{% block title %}Вход{% endblock %}

{% block auth %}
    <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>

    {{ form.errors }}

    {% for field in form %}
        {% bootstrap_field field show_label=False %}
    {% endfor %}

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Войти</button>

    <a href="{% url 'registration' %}">Зарегистрироваться</a><br>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
{% endblock %}