{% extends "main/layouts/auth_base.html" %}

{% load bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block auth %}
    <h1 class="h3 mb-3 fw-normal">Пожалуйста зарегистрируйтесь</h1>`

    {% for field in form %}
        {% bootstrap_field field show_label=False show_help=False %}
    {% endfor %}

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Зарегистрироваться</button>

    <a href="{% url 'login' %}">Войти</a>
{% endblock %}
