<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
{% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="hello" height="100" width="100">
{% endif %}
<p>Имя: {{ user.name }}</p>
<p>Email: {{ user.email }}</p>
<a href="{% url 'profile_edit' %}">Редактировать профиль</a><br>
<a href="{% url 'home' %}">Домой</a>
</body>
</html>