.carousel {
    height: 300px
}

.carousel-inner {
    height: 100%;
    background-color: #bcbcbc;
}

.carousel-image {
    object-fit: contain;
    height: 300px;
}

.carousel-control-next,
.carousel-control-prev {
    background: transparent;
    border: none;
}

.profile_info {
    font-size: 90%
}