body {
    min-height: 100vh;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_user__img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.main {
    margin-bottom: 30px;
    flex-grow: 1;
}

.footer {
    height: 30px;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}

.city_input {
    max-width: 200px;
}

.announcement_body {
    padding-top: 0;
    padding-bottom: 0;
}

.main_inner__page_name {
    margin-bottom: 1rem;
    border-bottom: solid 1px #dbdbdb;
}

.main_inner__page_name > h1 {
    font-size: 2rem;
}

.content__nav {
    font-size: .9rem;
}

/*.announcement__img_handler {*/
/*    background-color: #868e96;*/
/*}*/

.announcement__img {
    width: 100%;
    max-height: 200px;
}

.announcement__img_handler {
    background-color: #bcbcbc;
}

.announcement_link {
    color: black;
    text-decoration: none;
}

.announcement_link:hover {
    text-decoration: none;
    color: #2d2d2d;
}

